<footer class="container">
    <mat-toolbar class="footer">
        <!-- <div layout="row" layout-align="center center">
                    <div>one</div>
                    <div>two</div>
                    <div>three</div>
                  </div> -->
        <!-- <div class="container1">
            <p class="contact">Muzix Application</p>
        </div> -->
        <!-- <div class="container2">
            <div>
                <h2>Follow us</h2>
                <div>
                    <div>
                        <h4>Explore</h4>

                        <!-- <p> <img src="assets/img/facebook.png" alt="facebook"> on facebook</p>
                        <p><img src="assets/img/tweetter.png" alt="Twitter"> on Twitter</p>
                        <p><img src="assets/img/linked-in.png" alt="Linked-in"> on Linked-in</p> -->
                    <!-- </div>
                </div>
            </div>
        </div>-->
        
        <div fxFlex fxLayout>
                <div fxLayout fxLayoutGap="30px">

                       
                    <div layout="row" layout-align="center center" flex>
                            <h2>Explore</h2>
                            <p><a href="#">latest songs</a></p>
                            <p><a href="#">Top albums</a></p>
                            <p><a href="#">Today Top songs</a></p>
                    </div>
                    <div layout="row" layout-align="center center" flex>
                            <h2>Help</h2>
                            <p><a href="#">support</a></p>
                            <p><a href="#">Guidelines</a></p>
                            <p><a href="#">Track my music</a></p>
                    </div>
                    
                </div>
            </div>
            
                <div fxFlex fxLayout fxLayoutAlign="flex-end">
                        <h2>Follow us</h2>
                        <div fxLayout fxLayoutGap="30px">
                            <div layout="row" layout-align="center center" flex>
                                <p> <img src="assets/img/facebook.png" alt="facebook"> on facebook</p>
                                <p><img src="assets/img/tweetter.png" alt="Twitter"> on Twitter</p>
                                <p><img src="assets/img/linked-in.png" alt="Linked-in"> on Linked-in</p>
                            </div>
                        </div>
                    </div>
    </mat-toolbar>
</footer>