<div>
<mat-toolbar  style="height: 100px" class="navbar">
  <mat-toolbar-row>
    
    <img src="assets/img/logo.jpeg" style="width: 100px;padding-top: 30PX;padding-left: 0px;">
    
              <!-- <div style="padding-top: 100px"> -->
      <div fxFlex fxLayout fxLayoutAlign="flex-end"  style="padding-top: 40px">
          <div fxLayout fxLayoutGap="20px">
              <span><app-search></app-search></span>
              <a routerLink="/tracks"><app-play-list></app-play-list></a>
          </div>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
</div>
