
.card-picture {
  width: 23%;
  margin-bottom: 2%;
  margin-left: 80px;
  background-color: #dcd2d2;
}
/* .image{
  width: 250px;
  margin-left: 50px;
} */

.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
